/* font-family: "GothamProRegular"; */
@font-face {
  font-family: 'gothapro_bold';
  src: url('/fonts/GothamProBold.eot');
  src: url('/fonts/GothamProBold.eot?#iefix') format('embedded-opentype'), url('/fonts/GothamProBold.woff') format('woff'), url('/fonts/GothamProBold.ttf') format('truetype'), url('/fonts/GothaProBol_0.svg#gothapro_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothapro_italic';
  src: url('/fonts/GothamProItalic.eot');
  src: url('/fonts/GothamProItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/GothamProItalic.woff') format('woff'), url('/fonts/GothamProItalic.ttf') format('truetype'), url('/fonts/GothaProIta_0.svg#gothapro_italic') format('svg');
}
@font-face {
  font-family: 'gothapro_regular';
  src: url('/fonts/GothamProRegular.eot');
  src: url('/fonts/GothamProRegular.eot?#iefix') format('embedded-opentype'), url('/fonts/GothamProRegular.woff') format('woff'), url('/fonts/GothamProRegular.ttf') format('truetype'), url('/fonts/GothaProReg_0.svg#gothapro_regular') format('svg');
}
@font-face {
  font-family: 'gothapro_thin';
  src: url('/fonts/GothamProLight.eot');
  src: url('/fonts/GothamProLight.eot?#iefix') format('embedded-opentype'), url('/fonts/GothamProLight.woff') format('woff'), url('/fonts/GothamProLight.ttf') format('truetype'), url('/fonts/GothaProLig_0.svg#gothapro_thin') format('svg');
}
@font-face {
  font-family: 'arrow_right';
  src: url('/fonts/fonts_arrow_right/icomoon.eot?-d20p7c');
  src: url('/fonts/fonts_arrow_right/icomoon.eot?#iefix-d20p7c') format('embedded-opentype'), url('/fonts/fonts_arrow_right/icomoon.ttf?-d20p7c') format('truetype'), url('/fonts/fonts_arrow_right/icomoon.woff?-d20p7c') format('woff'), url('/fonts/fonts_arrow_right/icomoon.svg?-d20p7c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #ffffff;
  font-family: 'gothapro_regular';
}
body ul ol,
body li {
  list-style: none;
  padding: 0;
  margin: 0;
}
header {
  height: 70px;
  width: 100%;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  -webkit-backface-visibility: hidden;
  background-color: #ffffff;
  opacity: 0.95;
}
header .header-wrapper {
  width: 960px;
  margin: 0 auto;
}
header .header-wrapper .logo {
  float: left;
  margin-top: 23px;
  background: url('/images/logo_top.png') no-repeat center;
  height: 23px;
  width: 321px;
  background-size: 321px;
  cursor: pointer;
}
header .header-wrapper .menu {
  float: right;
}
header .header-wrapper .menu li {
  float: right;
}
header .header-wrapper .menu a {
  line-height: 70px;
  margin-left: 20px;
  font-size: 14px;
  font-family: 'gothapro_bold';
  color: #748d9b;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
header .header-wrapper .menu a:hover {
  color: #01fd6d;
}
.bigSlider {
  min-width: 960px;
  height: 540px;
  overflow: hidden;
  position: relative;
}
.bigSlider .arrows-preload {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: url('/images/bslider_arrow_right_active.png') no-repeat left, url('/images/bslider_arrow_left_active.png') no-repeat right, url('/images/bslider_ind_active.png') no-repeat center;
}
.bigSlider li img {
  height: 540px;
  width: 100%;
}
.bigSlider li .slide-wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
.bigSlider li .slide-wrapper .intro {
  position: absolute;
  bottom: 40px;
  left: 67px;
  width: 283px;
  max-height: 390px;
  background-color: #ffffff;
  opacity: 0.95;
  padding: 18px 15px 10px 19px;
}
.bigSlider li .slide-wrapper .intro .title {
  font-size: 18px;
  line-height: 22px;
  font-family: 'gothapro_bold';
  color: #5b6e77;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.bigSlider li .slide-wrapper .intro .link {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-family: 'gothapro_regular';
  color: #748d9b;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.bigSlider li .slide-wrapper .intro .link .arrow {
  float: right;
  font-family: 'arrow_right';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #748d9b;
  margin-left: 5px;
}
.bigSlider li .slide-wrapper .intro .link .arrow:before {
  content: "\e600";
}
.bigSlider li .slide-wrapper .intro .link:hover {
  color: #01fd6d;
}
.bigSlider li .slide-wrapper .intro .link:hover .arrow {
  color: #01fd6d;
}
.bigSlider .bx-next {
  right: 50%;
  margin-right: -480px;
  background-size: 27px;
  background-image: url('/images/bslider_arrow_right_unactive.png');
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.bigSlider .bx-next:hover {
  background-size: 27px;
  background-repeat: no-repeat;
  background-image: url('/images/bslider_arrow_right_active.png');
}
.bigSlider .bx-prev {
  left: 50%;
  margin-left: -480px;
  background-size: 27px;
  background-image: url('/images/bslider_arrow_left_unactive.png');
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.bigSlider .bx-prev:hover {
  background-size: 27px;
  background-repeat: no-repeat;
  background-image: url('/images/bslider_arrow_left_active.png');
}
.bigSlider .bx-controls-direction a {
  height: 55px;
  width: 27px;
}
.bigSlider .bx-wrapper .bx-pager {
  position: absolute;
  bottom: 35px;
  left: 150px;
  width: 100%;
  z-index: 100;
}
.bigSlider .bx-wrapper .bx-pager.bx-default-pager a {
  background: transparent url('/images/bslider_ind_unactive.png') center no-repeat;
  background-size: 15px;
  text-indent: -9999px;
  display: block;
  width: 16px;
  height: 18px;
  margin: 0 5px;
  outline: 0;
}
.bigSlider .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: transparent url('/images/bslider_ind_active.png') center no-repeat;
  background-size: 15px;
}
.bigSlider .bx-pager.bx-default-pager a.active {
  background-image: url('/images/bslider_ind_chosen.png');
}
.news {
  width: 100%;
  background-color: #ffffff;
}
.news .news-wrapper {
  width: 960px;
  margin: 0 auto;
}
.news .news-wrapper .title {
  line-height: 85px;
  font-size: 18px;
  font-family: 'gothapro_bold';
  color: #5b6e77;
  text-align: left;
  text-transform: uppercase;
  padding-left: 20px;
}
.news .news-wrapper .more-news {
  cursor: pointer;
  color: #748d9b;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.news .news-wrapper .more-news:hover {
  color: #01fd6d;
}
.news .news-wrapper .news-element {
  margin-bottom: 35px;
}
.news .news-wrapper .news-element .border-bottom {
  height: 1px;
  width: 100%;
  background: -webkit-linear-gradient(right, #01ff0c, #02fafb);
  background: -moz-linear-gradient(right, #01ff0c, #02fafb);
  background: -o-linear-gradient(right, #01ff0c, #02fafb);
  background: linear-gradient(to right, #01ff0c, #02fafb);
}
.news .news-wrapper .news-element .news-element-wrapper {
  padding: 0 20px 30px;
}
.news .news-wrapper .news-element .news-element-wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.news .news-wrapper .news-element .news-element-wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-title {
  float: left;
  width: 356px;
  line-height: 22px;
  font-size: 18px;
  font-family: 'gothapro_bold';
  color: #748d9b;
  text-align: left;
  text-transform: uppercase;
  min-height: 216px;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text {
  float: left;
  text-align: left;
  line-height: 24px;
  font-size: 16px;
  font-family: 'gothapro_regular';
  color: #303a3d;
  width: 560px;
  margin-bottom: 20px;
  height: 216px;
  overflow: hidden;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text iframe {
  margin-top: 25px;
  width: 560px !important;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text .newsSlider {
  width: 100%;
  height: 355px;
  overflow: hidden;
  margin-top: 25px;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text .newsSlider li img {
  height: 355px;
  width: 100%;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text .newsSlider .bx-next {
  right: 50%;
  margin-right: -250px;
  background-size: 17px;
  background-image: url('/images/bslider_arrow_right_unactive.png');
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text .newsSlider .bx-next:hover {
  background-size: 17px;
  background-repeat: no-repeat;
  background-image: url('/images/bslider_arrow_right_active.png');
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text .newsSlider .bx-prev {
  left: 50%;
  margin-left: -250px;
  background-size: 17px;
  background-repeat: no-repeat;
  background-image: url('/images/bslider_arrow_left_unactive.png');
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text .newsSlider .bx-prev:hover {
  background-size: 17px;
  background-repeat: no-repeat;
  background-image: url('/images/bslider_arrow_left_active.png');
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text .newsSlider .bx-controls-direction a {
  height: 34px;
  width: 18px;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text .newsSlider .bx-wrapper .bx-pager {
  position: absolute;
  bottom: 5px;
  width: 100%;
  z-index: 100;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text .newsSlider .bx-wrapper .bx-pager.bx-default-pager a {
  background: transparent url('/images/bslider_ind_unactive.png') center no-repeat;
  background-size: 9px;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 11px;
  margin: 0 5px;
  outline: 0;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text .newsSlider .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: transparent url('/images/bslider_ind_active.png') center no-repeat;
  background-size: 9px;
}
.news .news-wrapper .news-element .news-element-wrapper .news-element-text .newsSlider .bx-pager.bx-default-pager a.active {
  background-image: url('/images/bslider_ind_chosen.png');
}
.news .news-wrapper .news-element .news-element-wrapper .navigation-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.news .news-wrapper .news-element .news-element-wrapper .navigation-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.news .news-wrapper .news-element .news-element-wrapper .navigation-block .date {
  float: left;
  font-size: 14px;
  font-family: 'gothapro_regular';
  color: #303a3d;
}
.news .news-wrapper .news-element .news-element-wrapper .navigation-block .open-close {
  float: right;
  text-align: right;
  color: #748d9b;
  font-size: 18px;
  font-family: 'gothapro_regular';
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.news .news-wrapper .news-element .news-element-wrapper .navigation-block .open-close .arrow {
  float: right;
  margin-left: 5px;
  height: 16px;
  width: 25px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.news .news-wrapper .news-element .news-element-wrapper .navigation-block .open-close:hover {
  color: #01fd6d;
}
.news .news-wrapper .news-element .news-element-wrapper .navigation-block .open-close.toggle-show .arrow {
  background: transparent url('/images/read_arrow2.png') center no-repeat;
  background-size: 23px;
}
.news .news-wrapper .news-element .news-element-wrapper .navigation-block .open-close.toggle-hide .arrow {
  background: transparent url('/images/hide_arrow.png') center no-repeat;
  background-size: 23px;
}
.news .news-wrapper .news-element .news-element-wrapper .navigation-block .open-close.toggle-show:hover .arrow {
  background: transparent url('/images/read_arrow2_active.png') center no-repeat;
  background-size: 23px;
}
.news .news-wrapper .news-element .news-element-wrapper .navigation-block .open-close.toggle-hide:hover .arrow {
  background: transparent url('/images/hide_arrow2.png') center no-repeat;
  background-size: 23px;
}
.news .ias-noneleft {
  padding-bottom: 20px;
}
.who-we-are {
  min-width: 960px;
  background-color: #748d9b;
}
.who-we-are .who-we-are-wrapper {
  width: 920px;
  padding: 30px 20px 40px;
  margin: 0 auto;
}
.who-we-are .who-we-are-wrapper .small {
  width: 298px;
  float: left;
  margin-right: 40px;
}
.who-we-are .who-we-are-wrapper .big {
  width: 582px;
  float: left;
}
.who-we-are .who-we-are-wrapper .point {
  margin-bottom: 10px;
}
.who-we-are .who-we-are-wrapper .point .title {
  color: #ffffff;
  font-size: 21px;
  font-family: 'gothapro_bold';
  text-transform: uppercase;
  line-height: 55px;
  text-align: left;
}
.who-we-are .who-we-are-wrapper .point .text {
  color: #ffffff;
  font-size: 16px;
  font-family: 'gothapro_regular';
  line-height: 20px;
  text-align: left;
}
footer {
  height: 170px;
  min-width: 960px;
  border-top: 10px solid #ffffff;
  background: -webkit-linear-gradient(bottom, #01bc9d, #01bd7c);
  background: -moz-linear-gradient(bottom, #01bc9d, #01bd7c);
  background: -o-linear-gradient(bottom, #01bc9d, #01bd7c);
  background: linear-gradient(to bottom, #01bc9d, #01bd7c);
}
footer .footer-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 0 0 20px;
}
footer .footer-wrapper .social-buttons-preload {
  background: url('/images/twitter_active.png') center no-repeat, url('/images/vk_active.png') left no-repeat url('/images/youtube_active.png') right no-repeat;
}
footer .footer-wrapper .logo {
  float: left;
  margin-top: 41px;
  height: 87px;
  width: 173px;
  background: url('/images/logo_bottom.png') center no-repeat;
  background-size: 173px;
}
footer .footer-wrapper .contacts {
  float: right;
  margin-top: 28px;
}
footer .footer-wrapper .contacts .social-buttons {
  float: right;
}
footer .footer-wrapper .contacts .social-buttons .social-button {
  height: 36px;
  width: 36px;
  margin-bottom: 6px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
footer .footer-wrapper .contacts .social-buttons .social-button a {
  display: block;
  width: 100%;
  height: 100%;
}
footer .footer-wrapper .contacts .social-buttons .twitter {
  background: url('/images/twitter_unactive.png') center no-repeat;
  background-size: 35px;
}
footer .footer-wrapper .contacts .social-buttons .twitter:hover {
  background: url('/images/twitter_active.png') center no-repeat;
  background-size: 35px;
}
footer .footer-wrapper .contacts .social-buttons .vk {
  background: url('/images/vk_unactive.png') center no-repeat;
  background-size: 35px;
}
footer .footer-wrapper .contacts .social-buttons .vk:hover {
  background: url('/images/vk_active.png') center no-repeat;
  background-size: 35px;
}
footer .footer-wrapper .contacts .social-buttons .youtube {
  background: url('/images/youtube_unactive.png') center no-repeat;
  background-size: 35px;
}
footer .footer-wrapper .contacts .social-buttons .youtube:hover {
  background: url('/images/youtube_active.png') center no-repeat;
  background-size: 35px;
}
footer .footer-wrapper .contacts .adress {
  margin-top: 20px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'gothapro_regular';
  line-height: 20px;
  text-align: right;
  margin-right: 20px;
  float: left;
}
footer .footer-wrapper .contacts .adress .email {
  display: block;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #ffffff;
  text-decoration: none;
}
footer .footer-wrapper .contacts .adress .email:hover {
  color: #01fd6d;
}
.site-error {
  position: relative;
  min-height: 200px;
  padding-top: 70px;
  background: #748d9b;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
}
.site-error a.back {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.site-error a.back:hover {
  color: #01fd6d;
}
.site-error table {
  width: 100%;
  height: 100%;
}
.site-error table td {
  vertical-align: middle;
  text-align: center;
}
